<!-- add_remove_parent.html -->
<!-- bustrack/templates/bustrack/add_parent.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/static/add_remove_parent.css' %}">
    <title>Add Parent</title>
</head>
<body>

<h1>Add Parent</h1>

<form method="post" action="{% url 'bustrack:add_parent' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
<!-- Display list of parents with option to remove -->
<h2>Parents</h2>
<ul>
    {% for parent in parents %}
        <li>{{ parent.name }} - <a href="{% url 'remove_parent' parent.id %}">Remove</a></li>
    {% endfor %}
</ul>
{% load static %}
    <script src="{% static 'admin/static/add_remove_parent.js' %}"></script>

</body>
</html>
