<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'parents/static/bustracking.css' %}">
    <title>Bus Tracking</title>
</head>
<body>
    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&callback=initMap" 
            async defer>
        </script>
        {% load static %}
        <script src="{% static 'parents/static/bustracking.js' %}"></script>
</body>
</html>
